.header {
  width: 100%;
  height: 34px;
  margin: 24px 0 48px 0;
  text-align: center;

  a {
    display: inline-block;
  }
}

.header__logo {
  width: 39px; height: 34px;
}

@media (min-width: 1024px) {
  .header {
    display: none;
  }
}