.helpSection {
  padding: 0 2rem;

  @include desktop {
    width: 65vw;
    max-width: 872px;
    min-height: 550px;
    margin: 5.375rem 2rem 2rem;
    padding: 4.625rem 5% 4.625rem 9rem;
    background-color: $grey;
    box-shadow: $cardShadow;
  }
}

.helpSection__title,
.helpSection__content {
  @include desktop {
    max-width: 394px;
  }
}

.helpSection__title {
  margin-bottom: 3.75rem;
  font-size: 2.125rem;
  font-weight: 600;

  .colored {
    color: $primaryColor;
  }
}

.helpSection__content {
  font-size: 1rem;

  p {

    &:before {
      content: "•";
      display: inline-block;
      margin-right: .5rem;
    }
    
    &:not(:last-child) {
      margin-bottom: 2.5rem;
    }

    strong {
      font-weight: 600;
    }
  }

}