/***** PAGINATION *****/
.swiper-pagination-fraction, .swiper-pagination-custom, .swiper-container-horizontal > .swiper-pagination-bullets {
  position: fixed;
  bottom: $navHeightMobile;
  padding-bottom: 2rem;
}

.swiper-pagination-bullet {
  width: 10px;
  height: 10px;
  opacity: 1;
  background: none;
  border: 1px solid $borderColor;

  &.swiper-pagination-bullet-active {
    background-color: $secondaryColor;
  }
}

.swiper-container-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet {
  margin: 0 .5rem;
}

.swiper-slide {
  @include desktop {
    height: unset !important;
  }
}