/***** PAGINATION *****/
.swiper-pagination-fraction, .swiper-pagination-custom, .swiper-container-horizontal > .swiper-pagination-bullets {
  position: fixed;
  bottom: $navHeightMobile;
  padding-bottom: 2rem;
}

.swiper-pagination-bullet {
  width: 10px;
  height: 10px;
  opacity: 1;
  background: none;
  border: 1px solid $borderColor;

  &.swiper-pagination-bullet-active {
    background-color: $secondaryColor;
  }
}

.swiper-container-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet {
  margin: 0 .5rem;
}

.main--home, 
.main--settings {

  .swiper-wrapper {
    padding: 4rem 0 4rem 1.625rem;;
    padding-left: 1.625rem;

    @include desktop {
      width: calc(100% - 4rem);
      margin: 0 auto;
      padding-left: 0;
      flex-wrap: wrap;
      justify-content: flex-start;
      column-gap: 2rem;
      row-gap: 4rem;
    }
  }

  .swiper-slide {
    @include desktop {
      width: $cardWidth !important;
      height: $cardHeight !important; 
    }
  }
}

.main--help {
  
  @include desktop {

    .swiper-wrapper {
      padding: 4rem 0;
    }

    .swiper-slide {
      height: fit-content !important;
    }
  }
}