/* The toggleButton - the box around the slider */
.settingsCard__toggleState {
  position: relative;
  width: 100%;
  display: inline-block;

  .toggleState__text {
    opacity: .5;
    font-weight: 600;
    text-transform: uppercase;
  }

  /* Hide default HTML checkbox */
  .toggleState__input {
    opacity: 0;
    width: 0;
    height: 0;
  }

  .toggleState__sliderContainer {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  /* The slider */
  .toggleState__slider {
    cursor: pointer;
    position: relative;
    width: 60px;
    height: 30px;
    background-color: $borderColor;
    filter: drop-shadow($toggleButtonShadow);
    border-radius: 25px;
    transition: .4s;
    
    &:before {
      content: "";
      position: absolute;
      left: 2px;
      bottom: 2px;
      height: 26px;
      width: 30px;
      background-color: $white;
      box-shadow: $toggleButtonShadow;
      border-radius: 25px;
      transition: .4s;
    }
  }
  
  input:checked + .toggleState__sliderContainer .toggleState__slider {
    background-color: $primaryColor;

    &:before {
      transform: translateX(26px);
    }
  }
}

#ground-humidity {
  fill: red;
}

