.toggleState {
  position: relative;
  width: 100%;
  padding: 0 1.25rem 1.625rem; 
  display: flex;
  justify-content: space-between;
  align-items: center;

  .toggleState__input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  .toggleState__slider {
    cursor: pointer;
    position: relative;
    width: 60px;
    height: 30px;
    background-color: $borderColor;
    filter: drop-shadow($toggleButtonShadow);
    border-radius: 25px;
    transition: .4s;
    
    &:before {
      content: "";
      position: absolute;
      left: 2px;
      bottom: 2px;
      height: 26px;
      width: 30px;
      background-color: $white;
      box-shadow: $toggleButtonShadow;
      border-radius: 25px;
      transition: .4s;
    }
  }

  .toggleState__text {
    opacity: .5;
    font-weight: 600;
    text-transform: uppercase;
    transition: .4s;
  }
  
  &.toggleState--isActive {
    .toggleState__slider {
      background-color: $primaryColor;
  
      &:before {
        transform: translateX(26px);
      }
    }
  
    .toggleState__text--on {
      opacity: 1;
      color: $primaryColor;
    }
  }
}


