body {
  font-family: "Poppins";
  min-height: 100vh;
}

@media (min-width: 1024px) {
  .main {
  width: $mainWidthDesktop;
  height: 100vh;
  margin-left: auto;
  padding: 2rem;
  }
}

.main__title {
  margin: 26px; 
  margin-bottom: 0;
  span {
    font-weight: 400;
    font-size: 12px;

    strong {
      font-weight: 600;
    }
  }
}

h1 {
  font-weight: 700;
  font-size: 34px;
}

.swiper-container {
  padding: 26px !important;
}
