body {
  padding-bottom: $mainPaddingBottomMobile;
  font-family: $primaryFont; 
  color: $mainTextColor;
  background: $bodyBg;

  @include desktop {
    padding-bottom: unset;
  }
}

.main {
  @include desktop {
    width: $mainWidthDesktop;
    height: 100vh;
    margin-left: auto;
  }
}

.main__title {
  padding: 1.625rem 1.625rem 0; 

  @include desktop {
    padding: 4.375rem 2rem 0;
  }

  &.main__title--help {
    display: none;

    @include desktop {
      display: inline-block;
    }
  }

  h1 {
    font-weight: 700;
    font-size: 34px;
  }

  span {
    font-weight: 400;
    font-size: 12px;

    strong {
      font-weight: 600;
    }
  }
}

form, label, button {
  font-family: $primaryFont;
}

.flash {
  opacity: 0;
  z-index: 100;
  position: fixed; 
  top: -100%;
  left: 50%;
  transform: translateX(-50%);
  width: 80%;
  padding: 30px;
  color: $white;
  background: $primaryColor;
  border-radius: $mainRadius;
  transition: .3s ease;

  @include desktop {
    width: 50vw;
  }

  strong {
    font-weight: 700;
  }

  &.is-visible {
    opacity: 1;
    top: 35px;
  }
}