body {
  padding-bottom: $navHeightMobile + 32px;
  font-family: $primaryFont; 
  color: $mainTextColor;
  background: $bodyBg;
}

.main {
  @include desktop {
    width: $mainWidthDesktop;
    height: 100vh;
    margin-left: auto;
  }
}

.main__title {
  padding: 1.625rem; 

  @include desktop {
    padding: 4.375rem 2rem 0;
  }

  &.main__title--help {
    display: none;

    @include desktop {
      display: inline-block;
    }
  }

  h1 {
    font-weight: 700;
    font-size: 34px;
  }

  span {
    font-weight: 400;
    font-size: 12px;

    strong {
      font-weight: 600;
    }
  }
}